body {
  background: rgba(0, 176, 255, .7);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.center, .center2, .center3 {
  position: absolute;
  transform: translate(-50%, -50%);
}

.center {
  top: 80%;
  left: 80%;
}

.center2 {
  top: 20%;
  left: 40%;
}

.center3 {
  top: 80%;
}

#cloud {
  background: rgba(255, 255, 255);
  width: 20vw;
  height: 10vw;
  border-radius: 50%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  animation: move 3s infinite;
}

#cloud:after, #cloud:before {
  content: '';
  background: rgba(255, 255, 255);
  position: absolute;
  border-radius: 50%;
}

#cloud:after {
  width: 10vw;
  height: 10vw;
  top: -5vw;
  left: 5vw;
}

#cloud:before {
  width: 17vw;
  height: 15vw;
  top: -9vw;
  right: 4vw;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4vw);
  }
  100% {
    transform: translateX(0);
  }
}

.divPadre {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: url('./assets/cloudy.gif') no-repeat center center fixed; */
  background-size: cover;
}

.divInfo {
  width: 80%;
  max-width: 30rem;
  height: auto;
  padding: 1.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Divinput {
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.InputCity {
  border: none;
  border-radius: 10px;
  height: 2.5rem;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 20rem;
  font-size: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease;
}

.InputCity:focus {
  outline: none;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.Btn {
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  border-style: none;
  background: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

li {
  list-style-type: none;
}

.weatherInfo {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.weatherInfo li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.weatherInfo li span {
  margin-right: 0.5rem;
}

.weatherBackground.Clear .icon {
  content: '\f00d'; /* sunny icon */
}

.weatherBackground.Rain .icon {
  content: '\f019'; /* rainy icon */
}

.weatherBackground.Clouds .icon {
  content: '\f013'; /* cloudy icon */
}

.weatherBackground.Snow .icon {
  content: '\f076'; /* snow icon */
}

.weatherBackground.Thunderstorm .icon {
  content: '\f01e'; /* thunderstorm icon */
}

.weatherBackground.Drizzle .icon {
  content: '\f01c'; /* drizzle icon */
}

.weatherBackground.Mist .icon {
  content: '\f014'; /* mist icon */
}

.weather-icon {
  color: #ffffff; /* Cambia este color según tus necesidades */
  margin-right: 0.5rem;
  
}

@media (min-width: 768px) {
  .Divinput {
    flex-direction: column;
    align-items: center;
  }

  .InputCity {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .Btn {
    margin-top: 0;
  }
}